#about-me {
  background-color: white;
}

.brand-statement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 0 3em;
}

.brand-statement > h2 {
  text-align: center;
}

@media (max-width: 767px) {
  .brand-statement {
    margin-top: 40px;
    padding: 0;
  }
}
