#about-me {
  background-color: white;
}

.personal-photo {
  border-radius: 50%;
  width: 100%;
  max-width: 300px;
}

.brand-statement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 0 3em;
}

@media (max-width: 767px) {
  .brand-statement {
    align-items: center;
    text-align: center;
    margin-top: 40px;
    padding: 0;
  }
}
